{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  // 不使用 @babel/eslint-parser
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [
      "error",
      2
    ]
  }
}